.premium-paper-label .popular-grid-inner {
    border-color: #7ddd75;
}

.popular-grid-inner {
background: #f5f4f5;
border-radius: 5px;
border: 2px solid #7ddd75;
position: relative;
}

.popular-inner-title {
color: #0e1845;
font-size: 14px;
font-weight: 400;
display: block;
text-align: center;
padding: 4px 0 0 0;
}

.popular-inner-description {
display: block;
font-size: 14px;
font-weight: 900;
color: #0e1845;
text-align: center;
padding: 0px 0 8px 0;
}

.barcode-image-section {
position: relative;
text-align: center;
}

.layout-action {
display: block;
text-align: center;
font-size: 16.01px;
color: #f7603e;
font-weight: 700;
position: relative;
background: #fff;
border-top: 1px solid #86888b;
padding: 2px 0px;
text-transform: uppercase;
}

.grid-select-full {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
font-size: 0px;
}

.barcode-image-main {
overflow: visible;
display: inline-block;
position: relative;
}

.barcode-image-main img {
margin-right: 10px;
width: 71%;
display:unset;
}
.barcode-image-desc-right {
top: 2px;
right: -22px;
height: 100%;
width: 1px;
text-align: center;
}

.barcode-image-desc-right > h3 {
font-size: 14px;
font-weight: 900;
bottom: 16px;
padding: 0 4px;
transform: translate(50%, -50%) rotate(-90deg);
position: absolute;
white-space: nowrap;
right: 10px;
}

.barcode-image-desc-right #barcode_sale_rate {
font-size: 17px;
}

.barcode-image-desc-left {
top: 2px;
left: -79px;
height: 100%;
width: 1px;
text-align: center;
}

.barcode-image-desc-left > h3 {
font-size: 16px;
font-weight: 700;
bottom: 3px;
padding: 0 4px;
transform: translate(100%,-50%) rotate(-90deg);
position: absolute;
}

.barcode-image-desc-bottom {
position: absolute;
bottom: 4px;
left: 0px;
width: 100%;
height: 1px;
text-align: center;
}

.barcode-image-desc-bottom > h3 {
font-size: 16px;
font-weight: 700;
position: relative;
top: -16px;
padding: 0 4px;
}

.barcode-image-desc-bottom:after {
position: absolute;
content: "";
width: 1px;
height: 5px;
top: -2px;
left: 0px;
}

.barcode-image-desc-bottom:before {
position: absolute;
content: "";
width: 1px;
height: 5px;
top: -2px;
right: 0px;
}
.barcode-image-desc-right:after {
position: absolute;
content: "";
height: 1px;
width: 5px;
right: -2px;
top: -1px;
}

.barcode-image-desc-right:before {
position: absolute;
content: "";
height: 1px;
width: 5px;
right: -2px;
bottom: 0px;
}
.barcode-image-desc-right2:after {
position: absolute;
content: "";
height: 1px;
width: 5px;
right: -7px;
top: -1px;
}

.barcode-image-desc-right2:before {
position: absolute;
content: "";
height: 1px;
width: 5px;
right: -7px;
bottom: 0px;
}


.barcode-image-section p{
  font-size: 12px;
  z-index: 1123123123;
  position: relative;
  max-height: 0px;
  width: 100%;
  margin: auto;
  margin-left: 13px;
  line-height: 1.3;
  font-weight: bold;
}

.inner-barcode-image{
  background: white;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 40px;
  margin: auto;
}

.barcode-item-wrapper {
background: white;
height: 25mm;
width: 50mm;
margin: auto;
}

.size_1 .barcode-item-description {
font-size: 13px;
font-weight: 500;
padding-top: 4px;
text-align: left;
margin-left: 10px;
}

.size_1 .barcode-image-size {
width: 1.9in;
height: 0.9in;
}

.size_1 .barcode-img {
width: 63%;
height: 0.3in;
margin-top: 33px;
}

.size_1 .desc-left-text {
transform: translate(-50%, -50%) rotate(-90deg);
left: 6px;
}




/* QR Wrapper Specific to .size_2 */
.size_2 .qr-item {
background: white;
height: 25mm;
width: 50mm;
position: relative;
margin: auto;
margin-left: 20px;
padding-left: 8px;
}

.size_2 .qr-description {
font-size: 14px;
margin-bottom: 0;
font-weight: bolder;
padding-top: 5px;
line-height: 17px;
}

.size_2 .qr-code-text {
margin-bottom: 0;
font-size: 16px;
font-weight: 700;
margin-top: 3px;
}

.size_2 .qr-price {
margin-bottom: 0;
font-size: 17px;
}

.size_2 .qr-price-value {
font-size: 22px;
}

.size_2 .qr-img {
width: 0.5in;
height: 0.5in;
float: right;
position: absolute;
right: 12px;
top: 26px;
}

.size_2 .qr-barcode {
position: absolute;
right: 7px;
bottom: 2px;
font-weight: bolder;
font-size: 13px;
margin-bottom: 0;
}


/* Barcode Section for size_3 */
.size_3 .barcode-item {
background: white;
height: 28mm;
width: 38mm;
margin: auto;
position: relative;
}

.size_3 .barcode-description {
font-size: 11.5px;
font-weight: bolder;
padding-top: 4px;
width: 100%;
text-align: left;
margin-left: 7px;
}

.size_3 .barcode-image-main {
    display: inline-block;
}

.size_3 .barcode-img {
width: 50%;
height: 0.4in;
margin:auto;
margin-top: 33px;
}

/* Left vertical label (rotated) */
.size_3 .barcode-image-desc-left h3 {
    transform: translate(-50%, -50%) rotate(-90deg);
    margin: 0;
    left: 10px;
    bottom: -14px;
}

/* Right-aligned price label */
.size_3 .barcode-image-desc-right {
position: unset;
top: 12px;
right: 21px;
height: 100%;
width: 1px;
text-align: center;
}

.size_3 .barcode-image-desc-right h3 {
font-size: 12px;
margin: 0;
bottom: -7px;
}

/* Bottom barcode label */
.size_3 .barcode-image-desc-bottom {
    position: absolute;
    bottom: -12px;
    right: 30px;
}

.size_3 .barcode-image-desc-bottom h3 {
    font-size: 17px;
    margin: 0;
    position: relative;
    top: -8px;
    left: 0px;
}


/* QR Section for size_4 */
.size_4 .qr-item {
background: white;
height: 28mm;
width: 38mm;
position: relative;
margin: auto;
margin-left: 20px;
padding-left: 8px;
}

.size_4 .qr-title {
font-size: 10px;
margin-bottom: 0;
font-weight: bolder;
padding-top: 5px;
line-height: 17px;
}

.size_4 .qr-code {
font-size: 16px;
font-weight: 700;
margin: 0;
margin-top: 0;
}

.size_4 .qr-price {
font-size: 17px;
margin: 0;
line-height: 1;
}

.size_4 .qr-price strong span {
font-size: 19px;
}

.size_4 .qr-image {
width: 0.5in;
height: 0.5in;
float: right;
position: absolute;
right: 12px;
bottom: 20px;
}

.size_4 .qr-barcode {
position: absolute;
left: 57%;
bottom: 2px;
font-weight: bolder;
font-size: 13px;
margin-bottom: 0;
}


.bq-box{
width: 48%;
max-width: 48%;
}

.text-green{
color: green;
font-weight: bold;
}

p.qr-description {
    min-height: 35px;
}

p.qr-title * {
    font-weight: 800;
}